.lightMode {
  .subject {
    background-image: none !important;
    background: none !important;
  }

  .toolbox-background {
    background-image: none !important;
    background: none !important;
  }
}
